header img{
    padding:10px 50px;
    height: 150px;
    

}
header{
    text-align: center;
     background-image: url("flesh.jpg"); /* Specify the image path */
        background-repeat: no-repeat;           /* Prevents the image from tiling */
        background-size: cover;                 /* Scales the image to cover the entire page */
         background-attachment: fixed;
         padding: 5px 3px;
         border-radius: 5px;
}
nav{
    margin-top: 10px;

}
   
nav a{
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(0, 0, 0);
    padding: 5px 3px;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    font-size: 15px;
    transition: 0.2s;
    & :hover{
        color:rgb(255, 255, 255)
    }
    
}
nav a:hover{
    color:rgb(255, 255, 255)
}
body{
     background-image: url("images.jpg"); /* Specify the image path */
        background-repeat: no-repeat;           /* Prevents the image from tiling */
        background-size: cover;                 /* Scales the image to cover the entire page */
         background-attachment: fixed;
}
